
@import './../../styles/colors';

.login__container{
  width: 30rem;
  padding: 2rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  border: 1px #173e43;
  border-style: dashed;
  .form__control{
    margin: 1rem auto;
    width: 100%;
    input{
      margin-top: 10px;
      width: -webkit-fill-available;
      padding: 0.5rem;
      border: 1px solid  #173e43;
      outline: none;
    }
  }
  button{
    margin-top: 20px;
    width: 100%;
    padding: 0.8rem;
    background: #3fb0ac;
    outline: none;
    border: none;
    &:hover{
      background:  #173e43;
      color: white;
      cursor: pointer;
    }
  }
}